@import url("https://fonts.googleapis.com/css2?family=Acme&family=Inconsolata:wght@300&family=Kreon:wght@300;400;500;600;700&family=Open+Sans:wght@300;400&family=Quicksand:wght@500&family=Roboto+Condensed:wght@300;400&family=Roboto:ital,wght@0,100;0,300;0,400;1,300&family=Ysabeau+Infant:ital,wght@0,1;0,100;0,300;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap");
$page-color:white;
$section-color: #1f2039;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: $page-color;
  width: auto;
  font-family: "Manrope", sans-serif;
}

header,
footer {
  background-color: $page-color;
  height: 90px;
  width: 100%;
  padding: 20px;
  @media screen and (max-width: 996px) {
    header,
    footer {
      height: 131.5px;
      width: auto;
    }
  }
}

.navbarre {
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__main {
        display: flex;
        padding: 20px 30px;
        list-style-type: none;
      }
      &__link {
        margin-left: 20px;
        text-decoration: none;
        color: black;
      }
      &__link:hover {
        text-decoration: underline;
      }
    @media screen and (max-width: 996px) {
      .navbarre {
        display: flex;
        align-items: center;
        gap: 10px;
        width: auto;
      }
      &__main {
        height: 22px;
      }
      &__link {
        border-radius: 50px;
        color: black;
        text-decoration: none;
        padding: px 15px;
        display: block;
        white-space: nowrap;
        max-width: fit-content;
        font-size: 15px;
        margin-bottom: 10px;
      }
    }
  }
  
  .section1 {
    background-color: $section-color;
    padding: 80px 140.5px;
    width: 100%;
    display: flex;
    align-items: start;
    gap: 80px;
    &__tittle {
      font-size: 2.5rem;
      color: #a5b4fc;
      margin-bottom: 15px;
      font-family: "Montserrat", sans-serif;
      gap: 5px;
    }
    &__link {
      border-radius: 50px;
      background-color: #9792c6;
      color: $page-color;
      text-decoration: none;
      padding: 20px 30px;
      display: block;
      white-space: nowrap;
      max-width: fit-content;
      margin-top: 20px;
    }
    &__contact:hover {
      opacity: 0.5;
    }
    &__text {
      text-align: justify;
      font-size: 17.6px;
      color: $page-color;
    }
    &__text em {
      font-style: normal;
      color: #94a2ee;
    }
    &__picture  {
      height: 430px;
    }
    @media screen and (max-width: 996px) {

     display: flex;
      flex-direction: column-reverse;
      &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      &__picture {
        width: 100%;
        height: 100%;
      }
      &__tittle {
        font-size: 1.5rem;
      }
      &__text {
        text-align: center;
        margin: 0px 0px 30px;
      }
    }
  }
  .section2 {
    text-align: center;
    padding: 80px;
    font-family: "Manrope", sans-serif;
    &__img-container  {
      display: grid;
      grid-template-columns: auto auto auto;
      gap: 10px;
      object-fit: cover;
    }
    &__img {
      width: 100%;
      height: 311px;
    }
    &__tittle {
      margin-bottom: 80px;
    }
    @media screen and (max-width: 996px) {
      width: 100%;
      display: block;
      &__tittle {
        margin-bottom: 40px;
        font-size: 20px;
      }
      &__img-container {
        display: grid;
        grid-template-columns: auto;
        width: 100%;
        gap: 10px;
      }
      &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  label {
    color: $page-color;
    @media screen and (max-width:996px) {
    margin-bottom: 5px;}
  }
  .section3 {
    text-align: center;
    background-color: $section-color;
    padding: 80px 175.5px;
    &__contact input {
      height: 50px;
      border: 1px solid black;
      border-radius: 5px;
    }
    &__contact {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 100%;
    }
    
    &__button {
      border-radius: 50px;
      background-color: #9792c6;
      color: $page-color;
      padding: 20px 60px;
      cursor: pointer;
      border: 0px;
      margin-top: 20px;
    }
    &__button:hover {
      opacity: 0.5;
    }
    &__contact label {
      display: flex;
    }
    &__tittle {
      color: #a5b4fc;
      font-weight: bold;
      margin-bottom: 40px;
    }
    &__form {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      width: 100%;
      gap: 10px;
    }
    &__contact textarea {
      border-radius: 5px;
    }
    &__contact--messag {
      grid-column: span 2;
    }
    @media screen and (max-width: 996px) {
      width: 100%;
      
      &__tittle {
        font-size: 15px;
      }
      &__contact {
        margin-bottom: 10px;
        display: inline-block;
        margin-right: 15px;
        margin-top: 10px;
      }
      &__form {
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
      }
      &__contact--messag {
        grid-column: span 1;
      }
      &__contact textarea {
        border-radius: 5px;
        width: 100%;
      }
      &__contact input {
        height: 25px;
        width: 100%;
      }
    }
  }
  .footer-container {
    justify-content: space-between;
    display: flex;
    align-items: center;
    &__media {
      display: inline-block;
      align-items: center;
      margin-right: 20px;
    }
    &__media:hover  {
      opacity: 0.5;
    }
  }
  .section4 {
    text-align: center;
    background-color: $section-color;
    padding: 80px;
    width: 100%;
    &__text {
      font-family: "Manrope", sans-serif;
      font-size: 17.6px;
      margin: 0px 225.5px 80px;
      padding: 50px;
      text-align: justify;
      color: $page-color;
      width: 653px;
      height: 460px;
      border-bottom: 1px solid $page-color;
      border-right: 1px solid $page-color; 
    }
      &__tittle1 {
        font-family: "Montserrat", sans-serif;
        text-align: center;
        font-size: 55px;
        color: #a5b4fc;
      }
      &__tittle2 {
        font-family: "Manrope", sans-serif;
        text-align: center;
        font-size: 24px;
        color: $page-color;
        margin: 30px 0px 80px;
      }
      &__link {
        background-color: #9d9ad1;
        font-family: "Manrope", sans-serif;
        border-radius: 50px;
        padding: 20px 30px;
        text-decoration: none;
        color: $page-color;
      }
      &__link:hover {
        opacity: 0.5;
      }
      &__main {
        margin: 30px 0px 0px;
        padding: 0px 0px 0px 40px;
        font-family: "Manrope", sans-serif;
      }
    @media screen and (max-width: 996px) {
      padding: 50px 20px;
      width: 100%;
      &__tittle1 {
        font-size: 2rem;
      }
      &__text {
        text-align: center;
        margin: 0px 0px 30px;
        width: 100%;
        height: 100%;
        font-size: 0.8rem;
        padding: 20px 50px;
      }
      &__tittle2 {
        margin: 10px 0px 15px;
      }
      &__main {
        text-align: left;
      }
      &__link {
        padding: 15px 40px;
      }
    }
  }
  .section5 {
    background-color: $section-color;
    width: 100%;
    padding: 80px;
    height: 736px;
    &__th,&__td {
      border: 1.3px solid #838fcb;
      color: $page-color;
      font-family: "Manrope", sans-serif;
      font-size: 16px;
    }
    &__table {
      border-collapse: collapse;
      width: 100%;
      height: 460px;
    }
    &__table &__th {
      padding: 15px;
      text-align: center;
    }
    &__table &__td, &__th {
      padding: 15px;
      text-align: center; }
    &__caption {
      caption-side: top;
      margin-bottom: 80px;
      font-family: "Manrope", sans-serif;
      font-size: 24px;
      color: $page-color;
      font-weight: bold;
    }
    @media screen and (max-width:996px) {
    display: none;}
  }
  .section6 {
    background-color: $section-color;
    width: 100%;
    height: 228px;
    padding: 80px;
    font-family: "Montserrat", sans-serif;
    color: #838fcb;
    &__tittle {
      height: 68px;
      font-size: 56px;
    }
    @media screen and (max-width: 996px) {
      .section6 {
        height: 150px;}
      &__tittle {
        font-size: 2rem;
      }
    }
  }
  .section7 {
    padding: 80px;
    width: 1263.33px;
    &__tittle {
      font-family: "Montserrat", sans-serif;
      font-size: 24px;
      margin: 0px 0px 80px;
    }
    &__img {
      width: 357.77px;
      height: 300px;
      margin-right: 10px;
      margin-bottom: 10px;
      object-fit: cover;
    }
    &__picture {
      grid-template-columns: auto auto auto;
      display: grid;
      gap: 4px;
    }
    @media screen and (max-width: 996px) {
     
      &__img {
        width: 100%;
        object-fit: cover;
      }
      &__picture {
        display: grid;
        grid-template-columns: auto;
        width: 100%;
        gap: 10px;
      }
    }
  }
  @media screen and (max-width: 996px) {
    header,
    .section1,
    .section2,
    .section3,
    footer,
    .section4,
    .section5,
    .section6,
    .section7 {
      width: 100%;
      padding: 50px 20px;
    } 
    
 }
 