@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&family=Roboto:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
}

.head-div {
  width: 100%;
  height: 110px;
  background-color: antiquewhite;
  padding: 20px 20px;
  text-align: left;
}
.head-div h1 {
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
}

/* LOADER ANIMATIONS  */
.loader {
  background-color: #000;
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.loader_anim {
  text-align: center;
  border: 2.2px solid transparent;
  border-top-color: #fff;
  border-left-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 5px;
}
.loader__1 {
  width: 120px;
  height: 120px;

  animation: circle-1 1000ms linear 0.1s normal infinite;
}

@keyframes circle-1 {
  0% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.loader__2 {
  width: 85px;
  height: 85px;
  animation: circle-2 550ms linear 0.1s reverse infinite;
}
@keyframes circle-2 {
  0% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.loader__3 {
  width: 55px;
  height: 55px;
  animation: circle-3 600ms linear 0.2s reverse infinite;
}
@keyframes circle-3 {
  0% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
.red-circle {
  width: 20px;
  height: 20px;
  background-color: red;
  border: 1px solid red;
  border-radius: 50%;
  position: absolute;
}
.load__text {
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  color: #fff;
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
}
.loader,
.load__text {
  display: flex;
  flex-direction: column;
}

/* LOADER 2 */
.loader2 {
  background-color: whitesmoke;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.load_2 {
  width: 8px;
  height: 8px;
  border: 1px solid transparent;
  border-radius: 50%;
  display: flex;
  margin-right: 10px;
}
.secondloader__1 {
  background-color: greenyellow;
  animation: second1 1.4s ease-in-out 0.1s infinite;
}
@keyframes second1 {
  0% {
    transform: translateY(0) translateX(0) scale(1);
  }

  36%,
  50%,
  75% {
    transform: scale(2);
    background-color: #410767;
  }

  100% {
    transform: translateY(-11px) translateX(7px) scale(1);
  }
}
.secondloader__2 {
  background-color: greenyellow;
  animation: second2 1.4s ease-in-out 0.2s infinite;
}
@keyframes second2 {
  0% {
    transform: translateY(0) translateX(0) scale(1);
  }
  36%,
  50%,
  75% {
    transform: scale(2);
    background-color: #11287d;
  }
  100% {
    transform: translateY(-11px) translateX(7px) scale(1);
  }
}
.secondloader__3 {
  background-color: greenyellow;
  animation: second3 1.4s ease-in-out 0.3s infinite;
}
@keyframes second3 {
  0% {
    transform: translateY(0) translateX(0) scale(1);
  }
  36%,
  50%,
  75% {
    transform: scale(2);
    background-color: #4ea5aa;
  }
  100% {
    transform: translateY(-11px) translateX(7px) scale(1);
  }
}
.secondloader__4 {
  background-color: greenyellow;
  animation: second4 1.4s ease-in-out 0.4s infinite;
}
@keyframes second4 {
  0% {
    transform: translateY(0) translateX(0) scale(1);
  }
  36%,
  50%,
  75% {
    transform: scale(2);
    background-color: #017f7e;
  }
  100% {
    transform: translateY(-11px) translateX(7px) scale(1);
  }
}
.secondloader__5 {
  background-color: greenyellow;
  animation: second5 1.4s ease-in-out 0.5s infinite;
}
@keyframes second5 {
  0% {
    transform: translateY(0) translateX(0) scale(1);
  }
  36%,
  50%,
  75% {
    transform: scale(2);
    background-color: #077c40;
  }
  100% {
    transform: translateY(-11px) translateX(7px) scale(1);
  }
}
.secondloader__6 {
  background-color: greenyellow;
  animation: second6 1.4s ease-in-out 0.6s infinite;
}
@keyframes second6 {
  0% {
    transform: translateY(0) translateX(0) scale(1);
  }
  36%,
  50%,
  75% {
    transform: scale(2);
    background-color: #c6bc03;
  }
  100% {
    transform: translateY(-11px) translateX(7px) scale(1);
  }
}
.secondloader__7 {
  background-color: greenyellow;
  animation: second7 1.4s ease-in-out 0.7s infinite;
}
@keyframes second7 {
  0% {
    transform: translateY(0) translateX(0) scale(1);
  }
  36%,
  50%,
  75% {
    transform: scale(2);
    background-color: #f37502;
  }
  100% {
    transform: translateY(-11px) translateX(7px) scale(1);
  }
}

/* Loader welcome */

.loader-welcome {
  background-color: #000;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.letter {
  font-size: 3rem;
  font-family: "Roboto", sans-serif;
  color: gray;
  letter-spacing: 15px;
  -webkit-text-stroke: 5px;
  animation: flash 1.2s linear infinite;
}

@keyframes flash {
  0% {
    color: #c6bc03;
    text-shadow: 0 0 7px #c6bc03;
  }
  90% {
    color: gray;
    text-shadow: none;
  }
  100% {
    color: #c6bc03;
    text-shadow: 0 0 7px #c6bc03;
  }
}
.letter:nth-child(1) {
  animation-delay: 0.1s;
}
.letter:nth-child(2) {
  animation-delay: 0.2s;
}
.letter:nth-child(3) {
  animation-delay: 0.3s;
}
.letter:nth-child(4) {
  animation-delay: 0.4s;
}
.letter:nth-child(5) {
  animation-delay: 0.5s;
}
.letter:nth-child(6) {
  animation-delay: 0.6s;
}
.letter:nth-child(7) {
  animation-delay: 0.7s;
}
